@model AccountViewModel
@{
    ViewData["Title"] = "MoneyTransfer";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Transfer İşlemleri
            </header>
            <div class="panel-body">
                <form method="post">
                    <label>Gönderici ID</label>
                    <input type="text" asp-for="SenderID" class="form-control" />
                    <span asp-validation-for="SenderID" class="text-danger"></span>
                    <br />
                    <label>Alıcı ID</label>
                    <input type="text" asp-for="ReceiverID" class="form-control" />
                    <span asp-validation-for="ReceiverID" class="text-danger"></span>
                    <br />
                    <label>Gönderilecek Tutar</label>
                    <input type="text" asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                    <br />
                    <button class="btn btn-success">Para Gönder</button>
                    <br />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </form>
            </div>
        </section>
    </div>
</div>

