@model ResetPasswordDTO
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<br />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <br />
        <h4>Yeni Şifre Oluşturma</h4>
        <hr />
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
        <form asp-controller="Login" asp-action="ResetPassword" method="post">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Şifre" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Şifre Tekrar" asp-for="ConfirmPassword">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group offset-md-4">
                <input type="submit" value="Şifre Yenile" class="btn btn-primary" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>

